<form class="w-full glass-effect panel-input">
    <app-lang-selector [target]="true"></app-lang-selector>
    
    <textarea 
        matInput 
        #message 
        [formControl]="translationControl" 
        [maxlength]="500"
        class="font-sans font-semibold"
    ></textarea>

    <div class="flex items-end justify-between">
        <div class="flex items-center gap-2">
            <p-button icon="pi pi-volume-up"/>
            <p-button (onClick)="copyText(message.value)" icon="pi pi-copy"/>
        </div>

        <div class="flex flex-col items-end gap-2">
            <mat-hint class="text-xs relative">
                {{ message.value.length }} / 500
            </mat-hint>

            <button 
                type="button"
                class="
                    btn__translate 
                    flex 
                    items-center 
                    justify-between 
                    py-3 
                    px-5 
                    gap-4 
                    rounded-xl 
                    bg-sapphire
                "
                (click)="submitTranslation()"
            >
                <mat-icon fontIcon="format_color_text"class="text-xl"></mat-icon>
                Translate
            </button>
        </div>
    </div>
</form>