<div class="flex flex-col justify-center lang-selector">
  <section class="flex flex-col justify-between gap-4 tablet:flex-row table:gap-0">
    <div class="flex items-center">
      <p-selectbutton 
        [ngModel]="getLanguage()"
        (onChange)="setLanguage($event.value)"
        optionLabel="name" 
        optionValue="code"
        class="font-sans font-bold"
      />
    
      <p-button 
        (click)="menu.toggle($event)"
        [label]="currentLabel()"
        icon="pi pi-chevron-down"
        iconPos="right"
        severity="contrast"
        class="font-sans font-bold ml-1 select-button"
      />

      <p-menu 
        #menu 
        [model]="menuOptions()" 
        [popup]="true" 
        appendTo="body"
        class="max-h-[200px] overflow-y-auto"
      />
    </div>

    @if (target() === false) {
      <p-button 
        (click)="swapLanguage()"
        icon="pi pi-arrow-down-left-and-arrow-up-right-to-center"
      />
    }
  </section>

  <div class="horizontal-bar my-4"></div>
</div>