.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.blur-gradient {
  backdrop-filter: blur(12px);
}

::ng-deep app-dashboard {
  top: 24rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}