@use 'settings' as vars;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.blur-gradient {
  backdrop-filter: blur(12px);
}

::ng-deep app-dashboard {
  top: 24rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}

::ng-deep .custom-carousel {
    .p-carousel-indicators {
        padding: 2rem 0 0 0 !important; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem; 
    }

    .p-carousel-indicator {
        margin: 0 !important; 

        button {
            width: 14px !important;
            height: 14px !important;
            border-radius: 100% !important;
            transition: background-color 0.3s ease, transform 0.2s ease;
            opacity: 1 !important;
            box-shadow: none !important; 

            &:hover {
                transform: scale(1.2);
            }
        }
        
        &.p-highlight button {
            background-color: vars.$primary !important;
            border-color: vars.$primary !important; 
            background-color: vars.$primary !important;
            transform: scale(1.1);
        }
    }

    .p-carousel-indicator-active .p-carousel-indicator-button {
        background-color: vars.$periwinkle-blue !important;
    }
}