<section
  class="flex flex-col items-center gap-4 w-full overflow-y-auto overflow-x-hidden h-[800px] pr-2"
>
  @for (item of translationsSaved; track $index) {
    <div
      class="container w-full glass-effect flex flex-col gap-2 shrink-0 !p-5"
    >
      <div class="flex items-center justify-between mb-4">
        <span
          class="bg-sapphire text-periwinkle-blue p-2 rounded-sm text-xs font-bold h-6 w-6 flex justify-center items-center"
        >
          {{ item.id }}
        </span>

        <button icon="pi pi-star-fill" (click)="removeFromFavorites(item.id)">
          <mat-icon fontIcon="star" class="text-xl text-[#d56e0c]"></mat-icon>
        </button>
      </div>

      <h1 class="text-xl font-bold text-wrap break-words">
        {{ item.translationText }}
      </h1>
      <p class="text-wrap break-words italic text-primary">"{{ item.text }}"</p>
    </div>
  }
</section>
